/* Full screen background */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E8E6E6;
}

.login-card {
  background-color: #1C1C1C;
  padding: 3rem 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 350px;
  text-align: center;
}

.login-title {
  color: #B8241C;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  color: #B8241C;
  margin-bottom: 1.5rem;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-btn {
  background-color: #B8241C;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.login-btn:hover {
  background-color: #e7615a;
}
